<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщение" />
            <input type="text" name="fname" placeholder="Имя"/>
            <input type="text" name="lname" placeholder="Фамилия"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список сообщений</div>
    {{#messages}}
    <div>
        <a>ID:{{id}}</a>
        <b>{{fname}}</b>
        <b>{{lname}}:</b>
        <span>"{{text}}"</span>
    </div>
    {{/messages}}
</body>
</html>